.Loading-Icon {
  height: 40vmin;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#display-lines {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}
